.settings-item-card {
    text-align: center;
    background: #FAFAFC;
    min-height: 170px;
    max-width: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-item-card img {
    height: 45px;
    width: auto;
}

.settings-item-card span {
    margin-top: 10px;
    display: inline-block;
    margin-top:10px;
    font-weight: bold; 
    font-size: 15px;
}