

.settings-item-card {
    width: 200px;
    height: 180px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFC;
    margin: 8px 0;
}

img {
    height: 45px;
    width: auto;
}