.left-form, .right-form {
  width: 60%;
  max-width: 400px;
}

.left-form {
  float: right;
}

@media only screen and (max-width: 800px) {
  .divider {
    display: none !important;
  }

  .left-form, .right-form {
    width: 90%;
  }

  .left-form {
    float: unset;
  }
}