.samplePatientID {
  cursor:pointer;
  color:#1E90FF;
}

.plebo-table .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
  background: #8a74f9;
}

.plebo-table .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th.ant-table-column-sort {
  background: #8a74f9;
}