.fillup-form .left-form, .right-form {
  width: 60%;
  max-width: 400px;
}

.fillup-form .left-form {
  float: right;
  margin-top: 20;
}	

.fillup-form .left-form .ant-radio-button-wrapper {
  width: 100px;
  text-align: center;
}

.fillup-form .ant-form-item {
	margin-bottom: 7px;
}

@media only screen and (max-width: 800px) {
  .fillup-form .divider {
    display: none !important;
  }

  .fillup-form .left-form, .right-form {
    width: 90%;
  }

  .fillup-form .left-form {
    float: unset;
  }
}
