.cashier-menu img :hover{
  cursor: pointer;
}

.cashier-modal-container .ant-btn-round{
    margin-bottom: 5px;
    vertical-align: auto;
}

.cashier-modal-container .ant-modal-footer{
    padding:10px
}
.cashier-modal-container .ant-modal-body{
    padding:20px
    
}
.cashier-modal-container .ant-modal-footer button{
    height: 32px;
    padding: 0 16px;
    font-size: 14px;
    border-radius: 32px;
    width: 100px;
}

.cashier-menu .ant-card-body{
    padding: 24px;
    height: 150px;
    width: 320px;
    text-align: center;
}
.cashier-menu .ant-card{
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}
.cashier-menu span{
    font-family: 'Karla', sans-serif !important;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    
}
.cashier-menu img{
    height: 100px;
    width: auto;
    vertical-align: middle;
    border-style: none;
}
.cashier-item-card {
    width: 180px;
    height: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFC;
    margin: 8px 0;
}
