.settings-exam-item-table{
  margin-top: 15px;
}

.settings-exam-item-table .user-table-options {
  text-align: right;
}

.settings-exam-item-table .ant-table-body tr {
  cursor: pointer;
}

.exam-item-search-input input {
	text-transform: uppercase;
}