/* .ant-table-thead th {
  padding-left:1px!important;
  padding-right:1px!important;
} */

.settings-exam-item-table{
  margin-top: 15px;
}

/* .settings-exam-item-table .ant-table-thead > tr > th {
  padding: 4px 16px !important;
} */

/* .settings-exam-item-table .user-table-options .user-table .ant-table-tbody > tr > td {
  padding: 7px 15px !important;
} */

.settings-exam-item-table .user-table-options {
  text-align: right;
}

