

.verticalinfo {
      height: auto;
      padding: 8%;
}
 
.main-title {
      font-size: 11px;
      color: #aaa8a8;
}

.info-title {
      font-weight: bolder;
      font-size: 14px;
}

.info-container {
      margin: 15px 0px;; 
}

.info-item {
      line-height: 30px;
      font-size: 12px;
}

.image-placeholder {
      height: 100%;
      width: 100%;
      border-radius: 2px;
}

.patient-img {
      width: 100%;
      height: auto;
}

.patient-number {
      color: white;
      background: #a79ae4;
      text-align: center;
      margin-bottom: 10px;
      border-radius: 2px;
      letter-spacing: 2px;
      border: 1px solid #a5a0a0;
}

.verticalinfo .patient-number .differential-title {
      background:white;
      color: black;
      font-size:10px;
      padding:5px;
}

.verticalinfo .patient-number .differential-title p {
      margin-bottom: 0px;
}

.verticalinfo .patient-number .differential-content {
      padding: 10px;
      border-top: 1px solid #a5a0a0;
}

.verticalinfo .patient-number .differential-content p{
      margin-bottom: 0px;
      font-size: 18px;
      font-weight: bold;
}