.error-msg {
  color: #3aa2fb;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.icon {
  height: 150px;
  width: 150px;
  padding-bottom: 1em;
}

.home-btn {
  color: #3aa2fb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgba(0, 0, 0, 0);
}