.age-bracket-fillup-form .form-values input {
	text-transform: uppercase;
}

.age-bracket-fillup-form .form-values {
	margin-top: 20px;
}

.age-bracket-fillup-form .form-values .ant-form-item {
	margin-bottom: 0px;
}


