.ant-layout-sider, .side-menu {
  background: #fafafc !important;
}

.side-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent !important;
  border-right: 4px solid;
}

.side-menu .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: 0 !important;
}

/* :not(.ant-menu-item-selected) .anticon {
  color: #c6c1d9;
} */