.search-patient-form .ant-form-item {
  margin-bottom: 0 !important;
}

.search-patient-form .ant-form-item-label {
  line-height: 10px !important;
}

.search-patient-form .ant-form-item-label > label {
  color: inherit !important;
}

.search-patient-form .ant-form-item-control-wrapper input{
  text-transform: uppercase;
}

.search-patient-form .form-button {
	min-width: 100px;
	margin-right: 10px;
}