

.action-container .save-button {
  background-color: #615DE0;
  border-radius: 30px;
  padding: 0 30px;
  color: #ffffff;
  margin-left: 20px;
  height: 35px;
  line-height: 34px;
}

.action-container .back-button {
  border: 0px solid transparent;
}

.action-container .back-button span {
  text-decoration: underline;
}

.ant-modal-footer {
  padding: 0px;
}

.ant-modal-close {
  display: none;
}

.save-modal-container .left-btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 25px;
  line-height: 0;
}

.save-modal-container .right-btn {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  background: #7c78e6;
  color: white;
  padding: 25px;
  line-height: 0;
  border-color: #7c78e6;
}

.successful-msg {
  color: #3aa2fb;
  text-align: center;
  font-weight: bold;
}

.ant-modal {
  width: 450px !important;
}

.ant-modal-body {
  padding: 70px;
}