.form{
    
    font-size: 14px;
}
.form-card{
    width: auto;
    height: auto;
    /* background-color: red; */
}

.select-category{
    margin-bottom: 10px;
}
h4{
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 30px;
}
.category-top .ant-btn-round{
    margin-left: 20px;
    text-align: center;
}