.cashier-categories-card1 .ant-card {
  height: 100%;
  width: auto;
  border-radius: 5px;
}

/* .cashier-summary-table .ant-table-thead > tr > th{
    text-transform: uppercase;  
} */

.cashier-categories-card .ant-card-body {
  padding: 10;
}
.cashier-categories-card .ant-btn-round {
  margin: 5px;
}

.cashier-category-form-card {
  width: auto;
  height: auto;
}

.cashier-categories-card-left .ant-card {
    margin-top: 10px;
    height: 100px;
   
  }

  .cashier-categories-card-left .ant-btn-round {
    margin: 3px;
   
  }

.cashier-categories-card-table .ant-card {
  margin-top: 10px;
  margin-Left: 10px;
}


.cashier-category-select-category {
  margin-bottom: 10px;
}

.cashier-category-form-card
  .ant-card-small
  > .ant-card-head
  > .ant-card-head-wrapper
  > .ant-card-head-title {
      text-align: right;
}

.cashier-category-form .cashier-categories-card {
    background-color: red;
}

.cashier-antcard .ant-btn-round {
  margin-left: 20px;
  text-align: center;
  width: 120px;
}
.cashier-category .ant-btn-round {
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: center;
  width: 120px;
}

.cashier-antcard .ant-card-body {
  padding: 10px;
}

.cashier-category- .ant-card-body {
  padding: 10px;
}

.cashier-antcard .ant-card-head-title {
  padding: 10px;
}

.cashier-category- .ant-card-head-title {
  padding: 10px;
}
