

.cashier-category-form{
    
    font-size: 14px;
}
.cashier-category-form-card{
    width: auto;
    height: auto;
}

.cashier-category-select-category{
    margin-bottom: 10px;
    align-items: right;
    
}

.cashier-category-h4{
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
}
.cashier-antcard .ant-btn-round{
    margin-left: 20px;
    text-align: center;
    width: 120px;
}
.cashier-category .ant-btn-round{
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 120px
}

.cashier-antcard .ant-card-body{
    padding:10px;
}

.cashier-category- .ant-card-body{
    padding:10px;
}

.cashier-antcard .ant-card-head-title{
    padding:10px;
}

.cashier-category- .ant-card-head-title{
    padding:10px;
}

