.test-results-table .ant-table-thead > tr > th {
  /* background: #8a73f9 !important;
  color: white !important; */
  padding: 4px 8px !important;
}

.test-results-table .ant-table-thead > tr:first-child > th:first-child {
  border-top-left-radius: 0px !important;
}

.test-results-table .ant-table-thead > tr:first-child > th:last-child {
  border-top-right-radius: 0px !important;
}
