.selected-table .ant-table-thead th,
.selected-table .ant-table-tbody td {
	text-align: center;
}

.selected-table-row {
	margin-bottom: 0px;
}

.selected-table-row .ant-form-explain {
	display: none;
}

