/* .child-no-header-table .ant-table-thead {
  display: none;
}

.ant-table-row-level-1 .phlebo_exams_extract{
  display:none;
} */

/* .ant-table-row-level-0 .phlebo_examreq_alignment{
  float:right;
  margin-right:20%;
} */

/* .ant-table-thead{
  background-color: #8a73f9;
} */

/* .ant-table-row > tr.ant-table-row-level-1 > td {
  column-span: 5;
} */


/* 
.phlebotable-container td {
  width: 165px;
}

.phlebotable-container th {
  width: 165px;
} */

/* .phlebotable-container td:nth-child(2) {
  width: 191px;
} */

.phlebotable-container .extract-phlebo-btn {
  margin-left: 5px;
}

/* .phlebotable-container .ant-table-row-level-1 td {
  width: 100%; 
 } */

/*.ant-table-row .ant-table-row-level-1 td {
  width: 100%;
}*/

/* .phlebotable-container .ant-table-row-level-0 td:first-child {
  width: px !important;
}

.phlebotable-container .ant-table-row-level-1 td:first-child {
  width: 350px !important;
} */