
.settings-user-table-options .settings-user-table {
    margin-top: 15px;
}

.settings-user-table-action {
    margin-top: 50px;
    margin-bottom: 10px;
}

.settings-user-table .ant-table-tbody td{
    text-transform: uppercase;
}

.settings-user-table .ant-table-body tr {
    cursor: pointer;
}

.settings-user-table-action input {
	text-transform: uppercase;
}